@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ranking</h2>


<table id="tableRank">
    <tr>
        <th>
            Postać
        </th>
        <th>
            Doświadczenie
        </th>
    </tr>
    @foreach (NorseWar.Models.Account acc in Model)
    {
        <tr>
            <td>@acc.Login</td>
            <td>@acc.Experience</td>
        </tr>
    }
</table>