<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norse War</title>
    <link href="~/Content/mojeStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="topbar">
            <div id="topbarL">
                1000 <img src="~/Content/shiny-coin2.png" width="12" height="12" />
            </div>
            <div id="topbarR">
                Norse War(wjebać tutaj logo)
            </div>
        </div>

        <div id="navigation-left-bar">
            <div class="optionL">Lucato pedau</div>
            <div class="optionL">Żmijeczka</div>
            <div class="optionL">Tak średnio</div>
        </div>

        <div class="body-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
