@model Tuple<NorseWar.Models.Account,string,bool>
@{
    ViewBag.Title = "Fight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fight</h2>



@if (Model.Item3.Equals(true))
{
    <text>Zwyciężyłeś
    Uzyskałeś </text> @Model.Item2
}
else
{
    <text>Przegrałeś 
    Straciłeś </text>@Model.Item2
}




