@model Tuple<NorseWar.Models.Account,NorseWar.Models.Account>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Gracz 1<br />
@Model.Item1.Login<br />
@Html.ActionLink("Atakuj", "Fight", new { id = Model.Item1.AccountID })<br />
<br />

Gracz 2<br />
@Model.Item2.Login<br />
@Html.ActionLink("Atakuj", "Fight", new { id = Model.Item2.AccountID })<br />

<div id="arenatest"><img src="~/Content/rycerz.png" width="220" height="220"></div>
<img src="~/Content/miecz.png" id="chuj">
<div id="arenatest1"><img src="~/Content/czarodziej.png" width="220" height="220"></div>
<img src="~/Content/spell.png" id="chuj1">
<style>
    #chuj {
        width: 170px;
        height: 100px;
        position: relative;
        animation-name: example;
        animation-duration: 3s;
        float: left;
        margin-top: 140px;
    }

    #chuj1 {
        width: 170px;
        height: 100px;
        position: relative;
        animation-name: example1;
        animation-delay: 3s;
        animation-duration: 3s;
        float: right;
        margin-top: 50px;
    }

    #arenatest {
        text-align: left;
        float: left;
    }

    #arenatest1 {
        text-align: right;
        float: right;
        position: relative
    }
</style>