@model NorseWar.Models.Account


<h2>Panel postaci</h2>

<div id="chracterDetailsContainer">
    <div id="characterImageBox">
        <div id="characterInfo">Login: Lucato<br />Klasa: Mag<br />Doświadczenie: 0<br />Złoto: 0<br /></div>
        <div id="block1">
            <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
        </div>
        <div id="block2">
            <div id="characterImage"><img src="~/Content/rycerz.png" width="250" height="300" /></div>
            <div id="boots">
                <div class="box"><img src="~/weaponImg/helmet.png" /></div>
            </div>
        </div>
        <div id="block3">
            <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
        </div>
    </div>
    <div id="backpackStatsBox">
        <h3>Plecak</h3>
        <div id="backpackBox">
            <div id="backpackBlock1">
                <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
                <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            </div>
            <div id="backpackBlock2">
                <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
                <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            </div>
            <div id="backpackBlock3">
                <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
                <div class="box"><img src="~/weaponImg/helmet.png" /></div> <br />
            </div>
        </div>
        <h3>Statystyki</h3>
        <div id="statsBox">
            <div id="statsBlock1">STR: 1 <br />AGI: 0</div>
            <div id="statsBlock2">VIT: 0 <br />DEX: 0</div>
            <div id="statsBlock3">INT: 0 <br />LUK: 0</div>
        </div>
    </div>
</div>