
@{
    ViewBag.Title = "Guard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var user = (NorseWar.Models.Account)Session["User"];
    var guard = NorseWar.Helper.Methods.CheckGuard(user);

    var time = DateTime.Now;
}

<h2>Guard</h2>
@if(guard){
    <div id="guardElements" style="visibility: hidden;">
        <div>Jesteś na warcie, ziomeczku xD</div>
        <div><span id="count"></span></div>
        <div id="rectcont"><div id="remainingtimevisualization"></div></div>
        <div><input type="button" value="Anuluj" onclick="cancelGuard();"/></div>
        <script>
            var guardStart;
            var guardEnd;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLeftTime", "User")',
                data: '',
                success: function (data) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GuardStartTime", "User")',
                        data: '',
                        success: function (data1) {
                            guardStart = data1;

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GuardEndTime", "User")',
                                data: '',
                                success: function (data2) {
                                    guardEnd = data2;

                                    var counter = parseInt(data);
                                    var max_counter = parseInt(guardEnd - guardStart);
                                    var rwidth = $("#remainingtimevisualization").width();
                                    setInterval(function () {

                                        counter--;

                                        $("#guardElements").css({ "visibility": "visible" });
                                        if (counter >= 0) {
                                            
                                            //span = $("#count");
                                            $("#count").html(secondsTimeSpanToHMS(counter));
                                        }
                                        if (counter === 0) {
                                            span.html("koniec czasu, dziwko");
                                            clearInterval(counter);
                                        }
                                        
                                        var minus = rwidth * ((max_counter - counter) / max_counter);
                                        $("#remainingtimevisualization").css({ width: rwidth - minus });
                                    }, 1000);
                                }
                            });
                        }
                    });
                }
            });

            function secondsTimeSpanToHMS(s) {
                var h = Math.floor(s / 3600); //Get whole hours
                s -= h * 3600;
                var m = Math.floor(s / 60); //Get remaining minutes
                s -= m * 60;
                return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
            }

            function cancelGuard() {
                alert("chuj");
            }
        </script>
    </div>
}
else
{
    <div>
        <div>
            <!-- tu jakieś pierdolone tło może być -->
        </div>
        <div id="guardElements">
            <div id="guardSlider">
                <input type="range" value="1" min="1" max="10" step="1" id="sliderguard"> <br />
                <input type="button" onclick="setGuard()" value="Start" />
                <div id="guardtime">
                    1 godzina
                </div>
            </div>
            
            <script>

			$(document).on('input', '#sliderguard', function() {
				setGuardTime();
			});

            function setGuard() {
                //tu nic nie ma, lecz powstanie
                //alert($("#sliderguard").val());
                var hours = $("#sliderguard").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GuardStarts", "User")',
                    data: "id=" + hours,
                    success: function (data) {
                        //alert("chuj");
                        //wyjebanie elementów i start paska
                        $("#guardSlider").remove();
                        var counter = hours * 3600;
                        var max_counter = hours * 3600;
                        var bar = "<div>";
                        bar+= "<div><span id='count'></span></div>";
                        bar += "<div id='rectcont'><div id='remainingtimevisualization'></div></div>";
                        bar += "</div>";
                        $("#guardElements").html(bar);
                        var rwidth = $("#remainingtimevisualization").width();
                        setInterval(function () {

                            counter--;

                            if (counter >= 0) {
                                span = $("#count");
                                span.html(secondsTimeSpanToHMS(counter));
                            }
                            if (counter === 0) {
                                span.html("koniec czasu, dziwko");
                                clearInterval(counter);
                            }
                            var minus = rwidth * ((max_counter - counter) / max_counter);
                            $("#remainingtimevisualization").css({ width: rwidth - minus });
                        }, 1000);

                    }
                });
            }

            function setGuardTime() {
                var value = parseInt($("#sliderguard").val());
                if(value===1){
                    $("#guardtime").html($("#sliderguard").val() + " godzina");
                } else if(value===2 || value===3 || value===4) {
                    $("#guardtime").html($("#sliderguard").val() + " godziny");
                } else {
                    $("#guardtime").html($("#sliderguard").val() + " godzin");
                }
            }

            function secondsTimeSpanToHMS(s) {
                var h = Math.floor(s / 3600); //Get whole hours
                s -= h * 3600;
                var m = Math.floor(s / 60); //Get remaining minutes
                s -= m * 60;
                return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
            }
            </script>
        </div>
    </div>
}



