
@{
    ViewBag.Title = "Guard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var user = (NorseWar.Models.Account)Session["User"];
}

<h2>Guard</h2>
<div>
    <div>
        <!-- tu jakieś pierdolone tło może być -->
    </div>
    <div>
        <input type="range" value="0" max="10" step="1" id="sliderguard"> <br />
        <input type="button" onclick="setGuard()" value="Start" />
        <div id="guardtime">

        </div>
        <script>

			$(document).on('input', '#sliderguard', function() {
				setGuardTime();
			});

            function setGuard() {
                //tu nic nie ma, lecz powstanie
                alert($("#sliderguard").val());
            }

            function setGuardTime() {
                var value = parseInt($("#sliderguard").val());
                if(value===1){
                    $("#guardtime").html($("#sliderguard").val() + " godzina");
                } else if(value===2 || value===3 || value===4) {
                    $("#guardtime").html($("#sliderguard").val() + " godziny");
                } else {
                    $("#guardtime").html($("#sliderguard").val() + " godzin");
                }
            }
        </script>
    </div>
</div>


@Html.ActionLink("PRACUJ CIOTO", "GuardStarts", "User", new { id = user.AccountID }, null)


