
@{
    ViewBag.Title = "Quests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (NorseWar.Models.Quest item in Model)
{
    <div>
        ID: @item.Description <br />
    </div>
}

